<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Nova | Login</title>

    <link rel="stylesheet" href="../style/login.css">

     <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<a href=""></a>

<div class="success-alert" id="successAlert">

    <div class="success-icon">
        ✓
    </div>

    <div class="success-content">
        <h3>You're Logged In!</h3>
        <p>Welcome back to Task Nova.</p>
    </div>

    <button class="close-alert">&times;</button>

</div>


<div class="background">
    <div class="circle one"></div>
    <div class="circle two"></div>
</div>

<div class="container">

    <!-- Left Side -->
    <div class="left">

        <div class="logo">
            ✅ <span>Task Nova</span>
        </div>

        <h1>Welcome Back 👋</h1>

        <p>
            Organize your work.<br>
            Manage your tasks.<br>
            Stay productive every day.
        </p>

    </div>


    <!-- Right Side -->

    <div class="login-card">

        <h2>Login</h2>

        <p class="subtitle">
            Login to continue your journey.
        </p>

        <form>

            <div class="input-box">
                <label>Email</label>
                <input id="email" type="email" placeholder="Enter your email">
            </div>

            <div class="input-box">
                <label>Password</label>
                <input id="password" type="password" placeholder="Enter your password">
            </div>

            <div class="options">

                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="#">Forgot Password?</a>

            </div>
            <a href=""></a>
            <button class="login" >

                Login

            </button>

            <div class="line">
                OR
            </div>

            <button class="google">

                Continue with Google

            </button>

        </form>

        <p class="signup">
            Don't have an account?

            <a href="./sign.html">Sign Up</a>
        </p>

    </div>

</div>


<script src="../js/login.js"></script>
</body>
</html>