<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Task Nova | Sign Up</title>

    <link rel="stylesheet" href="../style/signup.css">
     <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="background-circle circle1"></div>
    <div class="background-circle circle2"></div>

    <div class="container">

        <div class="logo">

            <h1>✔ Task <span>Nova</span></h1>

        </div>


        <div class="card">

            <h2>Create Account</h2>

            <p>Welcome to Task Nova. Let's make productivity beautiful.</p>

            <form>

                <div class="input-box">

                    <input id="name" type="text" required>

                    <label>Full Name</label>

                </div>


                <div class="input-box">

                    <input id="emailbox" type="email" required>

                    <label>Email Address</label>

                </div>


                <div class="input-box">

                    <input id="pass" type="password" required>

                    <label>Password</label>

                </div>


                <div class="input-box">

                    <input id="passConform" type="password" required>

                    <label>Confirm Password</label>

                </div>

                <button class="create">

                    Create Account

                </button>

                <div class="line">

                    <span>OR</span>

                </div>

                <button class="google">

                    Continue with Google

                </button>

                <div class="login">

                    Already have an account?

                    <a href="./Login.html">Login</a>

                </div>

            </form>

        </div>

    </div>


    <script src="../js/signup.js"></script>
</body>

</html>