<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/task.css">
    <title>Task Nova</title>
</head>

<body>

    <section>
        <header>
            <nav class="navbar">

                <!-- Left Side -->
                <div class="logo-section">

                    <div class="logo">
                        <img class="home" src="/assets/logo.png" alt="">
                    </div>


                    <h2>Task <span>Nova</span></h2>

                </div>


                <!-- Right Side -->

                <div class="nav-buttons">

                    <div class="toggle-switch">
                        <label class="switch-label">
                            <input id="theme" type="checkbox" class="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>

                    <button class="add-btn">
                        <i class="fa-solid fa-plus"></i>
                        Add Task
                    </button>

                </div>

            </nav>
        </header>

        <main class="main-box">
            <div class="welcome">
                <div class="left">

                    <h1 class="great">Welcome </h1>
                    <h1 class="name"></h1>
                </div>
                <div class="right">
                    <p>create your task and be consistant to your goal</p>
                </div>
            </div>
            <div class="task-box">

              





            </div>



        </main>

        <div class="add-task">
      
        </div>



    </section>
    <script src="../js/task.js"></script>
</body>

</html>